//= require "docco"
//= require "syntax"

@import "mixins"

body
  h1.logo
    font-size: 30px
    a
      text-decoration: none

body.landing
  padding: 0 50px

body.docs
  .logo
    margin-bottom: 40px
  .code, #background
    background: #0C1021
    pre
      font-size: 18px
      line-height: 1.3

  tr.syntax
    td.docs
      border-top: 1px solid rgba(#000, 0.2)
      +padding-vertical(20px)

    td.code
      +padding-vertical(20px)
      border-top: 1px solid rgba(#fff, 0.2)