/*--------------------- Layout and Typography ----------------------------*/

body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-size: 15px;
  line-height: 22px;
  color: #252519;
  margin: 0; padding: 0;
}
a {
  color: #261a3b;
}
  a:visited {
    color: #261a3b;
  }
p {
  margin: 0 0 15px 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0px 0 15px 0;
}
  h1 {
    margin-top: 40px;
  }
hr {
    border: 0 none;
    border-top: 1px solid #e5e5ee;
    height: 1px;
    margin: 20px 0;
}
#container {
  position: relative;
}
#background {
  position: fixed;
  top: 0; left: 525px; right: 0; bottom: 0;
  background: #f5f5ff;
  border-left: 1px solid #e5e5ee;
  z-index: -1;
}
#jump_to, #jump_page {
  background: white;
  -webkit-box-shadow: 0 0 25px #777; -moz-box-shadow: 0 0 25px #777;
  -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px;
  font: 10px Arial;
  text-transform: uppercase;
  cursor: pointer;
  text-align: right;
}
#jump_to, #jump_wrapper {
  position: fixed;
  right: 0; top: 0;
  padding: 5px 10px;
}
  #jump_wrapper {
    padding: 0;
    display: none;
  }
    #jump_to:hover #jump_wrapper {
      display: block;
    }
    #jump_page {
      padding: 5px 0 3px;
      margin: 0 0 25px 25px;
    }
      #jump_page .source {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        border-top: 1px solid #eee;
      }
        #jump_page .source:hover {
          background: #f5f5ff;
        }
        #jump_page .source:first-child {
        }
table td {
  border: 0;
  outline: 0;
}
  td.docs, th.docs {
    max-width: 450px;
    min-width: 450px;
    min-height: 5px;
    padding: 10px 25px 1px 50px;
    overflow-x: hidden;
    vertical-align: top;
    text-align: left;
  }
    .docs pre {
      margin: 15px 0 15px;
      padding-left: 15px;
    }
    .docs p tt, .docs p code {
      background: #f8f8ff;
      border: 1px solid #dedede;
      font-size: 12px;
      padding: 0 0.2em;
    }
    .pilwrap {
      position: relative;
    }
      .pilcrow {
        font: 12px Arial;
        text-decoration: none;
        color: #454545;
        position: absolute;
        top: 3px; left: -20px;
        padding: 1px 2px;
        opacity: 0;
        -webkit-transition: opacity 0.2s linear;
      }
        td.docs:hover .pilcrow {
          opacity: 1;
        }
  td.code, th.code {
    padding: 14px 15px 16px 25px;
    width: 100%;
    vertical-align: top;
    background: #f5f5ff;
    border-left: 1px solid #e5e5ee;
  }
    pre, tt, code {
      font-size: 12px; line-height: 18px;
      font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
      margin: 0; padding: 0;
    }


/*---------------------- Syntax Highlighting -----------------------------*/
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
body .hll { background-color: #ffffcc }
body .c { color: #408080; font-style: italic }  /* Comment */
body .err { border: 1px solid #FF0000 }         /* Error */
body .k { color: #954121 }                      /* Keyword */
body .o { color: #666666 }                      /* Operator */
body .cm { color: #408080; font-style: italic } /* Comment.Multiline */
body .cp { color: #BC7A00 }                     /* Comment.Preproc */
body .c1 { color: #408080; font-style: italic } /* Comment.Single */
body .cs { color: #408080; font-style: italic } /* Comment.Special */
body .gd { color: #A00000 }                     /* Generic.Deleted */
body .ge { font-style: italic }                 /* Generic.Emph */
body .gr { color: #FF0000 }                     /* Generic.Error */
body .gh { color: #000080; font-weight: bold }  /* Generic.Heading */
body .gi { color: #00A000 }                     /* Generic.Inserted */
body .go { color: #808080 }                     /* Generic.Output */
body .gp { color: #000080; font-weight: bold }  /* Generic.Prompt */
body .gs { font-weight: bold }                  /* Generic.Strong */
body .gu { color: #800080; font-weight: bold }  /* Generic.Subheading */
body .gt { color: #0040D0 }                     /* Generic.Traceback */
body .kc { color: #954121 }                     /* Keyword.Constant */
body .kd { color: #954121; font-weight: bold }  /* Keyword.Declaration */
body .kn { color: #954121; font-weight: bold }  /* Keyword.Namespace */
body .kp { color: #954121 }                     /* Keyword.Pseudo */
body .kr { color: #954121; font-weight: bold }  /* Keyword.Reserved */
body .kt { color: #B00040 }                     /* Keyword.Type */
body .m { color: #666666 }                      /* Literal.Number */
body .s { color: #219161 }                      /* Literal.String */
body .na { color: #7D9029 }                     /* Name.Attribute */
body .nb { color: #954121 }                     /* Name.Builtin */
body .nc { color: #0000FF; font-weight: bold }  /* Name.Class */
body .no { color: #880000 }                     /* Name.Constant */
body .nd { color: #AA22FF }                     /* Name.Decorator */
body .ni { color: #999999; font-weight: bold }  /* Name.Entity */
body .ne { color: #D2413A; font-weight: bold }  /* Name.Exception */
body .nf { color: #0000FF }                     /* Name.Function */
body .nl { color: #A0A000 }                     /* Name.Label */
body .nn { color: #0000FF; font-weight: bold }  /* Name.Namespace */
body .nt { color: #954121; font-weight: bold }  /* Name.Tag */
body .nv { color: #19469D }                     /* Name.Variable */
body .ow { color: #AA22FF; font-weight: bold }  /* Operator.Word */
body .w { color: #bbbbbb }                      /* Text.Whitespace */
body .mf { color: #666666 }                     /* Literal.Number.Float */
body .mh { color: #666666 }                     /* Literal.Number.Hex */
body .mi { color: #666666 }                     /* Literal.Number.Integer */
body .mo { color: #666666 }                     /* Literal.Number.Oct */
body .sb { color: #219161 }                     /* Literal.String.Backtick */
body .sc { color: #219161 }                     /* Literal.String.Char */
body .sd { color: #219161; font-style: italic } /* Literal.String.Doc */
body .s2 { color: #219161 }                     /* Literal.String.Double */
body .se { color: #BB6622; font-weight: bold }  /* Literal.String.Escape */
body .sh { color: #219161 }                     /* Literal.String.Heredoc */
body .si { color: #BB6688; font-weight: bold }  /* Literal.String.Interpol */
body .sx { color: #954121 }                     /* Literal.String.Other */
body .sr { color: #BB6688 }                     /* Literal.String.Regex */
body .s1 { color: #219161 }                     /* Literal.String.Single */
body .ss { color: #19469D }                     /* Literal.String.Symbol */
body .bp { color: #954121 }                     /* Name.Builtin.Pseudo */
body .vc { color: #19469D }                     /* Name.Variable.Class */
body .vg { color: #19469D }                     /* Name.Variable.Global */
body .vi { color: #19469D }                     /* Name.Variable.Instance */
body .il { color: #666666 }                     /* Literal.Number.Integer.Long */
/* line 1, syntax.css.scss */
pre.blackboard .LatexSupport {
  color: #FBDE2D; }

/* line 4, syntax.css.scss */
pre.blackboard .OcamlInfixOperator {
  color: #8DA6CE; }

/* line 7, syntax.css.scss */
pre.blackboard .MetaFunctionCallPy {
  color: #BECDE6; }

/* line 10, syntax.css.scss */
pre.blackboard .Superclass {
  color: #FF6400;
  font-style: italic; }

/* line 14, syntax.css.scss */
pre.blackboard .Constant {
  color: #D8FA3C; }

/* line 17, syntax.css.scss */
pre.blackboard {
  /*background-color: #0C1021;*/
  color: #F8F8F8; }

/* line 21, syntax.css.scss */
pre.blackboard .OcamlFPConstant {
  text-decoration: underline; }

/* line 24, syntax.css.scss */
pre.blackboard .OcamlFPInfixOperator {
  text-decoration: underline; }

/* line 27, syntax.css.scss */
pre.blackboard .Support {
  color: #8DA6CE; }

/* line 30, syntax.css.scss */
pre.blackboard .OcamlOperator {
  color: #F8F8F8; }

/* line 33, syntax.css.scss */
pre.blackboard .Storage {
  color: #FBDE2D; }

/* line 36, syntax.css.scss */
pre.blackboard .line-numbers {
  background-color: #253B76;
  color: #FFFFFF; }

/* line 40, syntax.css.scss */
pre.blackboard .StringInterpolation {
  color: #FF6400; }

/* line 43, syntax.css.scss */
pre.blackboard .InvalidIllegal {
  background-color: #9D1E15;
  color: #F8F8F8; }

/* line 47, syntax.css.scss */
pre.blackboard .PlistUnquotedString {
  color: #FFFFFF; }

/* line 50, syntax.css.scss */
pre.blackboard .OcamlVariant {
  color: #D5E0F3; }

/* line 53, syntax.css.scss */
pre.blackboard .MetaTag {
  color: #7F90AA; }

/* line 56, syntax.css.scss */
pre.blackboard .LatexEnvironment {
  background-color: #F7F7F8; }

/* line 59, syntax.css.scss */
pre.blackboard .OcamlFPPrefixOperator {
  text-decoration: underline; }

/* line 62, syntax.css.scss */
pre.blackboard .OcamlPrefixOperator {
  color: #8DA6CE; }

/* line 65, syntax.css.scss */
pre.blackboard .EntityNameSection {
  color: #FFFFFF; }

/* line 68, syntax.css.scss */
pre.blackboard .String {
  color: #61CE3C; }

/* line 71, syntax.css.scss */
pre.blackboard .Keyword {
  color: #FBDE2D; }

/* line 74, syntax.css.scss */
pre.blackboard .LatexEnvironmentNested {
  background-color: #7691F3; }

/* line 77, syntax.css.scss */
pre.blackboard .InvalidDeprecated {
  color: #AB2A1D;
  font-style: italic; }

/* line 83, syntax.css.scss */
pre.blackboard .Entity {
  color: #FF6400; }

/* line 86, syntax.css.scss */
pre.blackboard .Comment {
  color: #AEAEAE; }
/* line 6, application.css.sass */
html, body {
  width: 100%;
  height: 100%; }

/* line 11, application.css.sass */
body #back {
  position: absolute;
  left: 50px;
  top: 20px;
  text-decoration: none;
  z-index: 100; }
  /* line 17, application.css.sass */
  body #back:hover {
    text-decoration: underline; }
/* line 20, application.css.sass */
body h1.logo {
  font-size: 40px;
  line-height: 1.2; }
  /* line 24, application.css.sass */
  body h1.logo a {
    text-decoration: none; }
/* line 27, application.css.sass */
body h2 {
  font-size: 25px; }
/* line 32, application.css.sass */
body .intro {
  padding: 10px 25px 1px 50px;
  position: relative;
  z-index: 100;
  width: 350px; }
  /* line 37, application.css.sass */
  body .intro p {
    color: #333333; }
    /* line 39, application.css.sass */
    body .intro p a {
      text-decoration: none;
      color: black; }
      /* line 42, application.css.sass */
      body .intro p a:hover {
        text-decoration: underline; }
  /* line 45, application.css.sass */
  body .intro ul.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px; }
    /* line 50, application.css.sass */
    body .intro ul.nav li {
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 15px; }
/* line 54, application.css.sass */
body .authors {
  position: fixed;
  bottom: 10px;
  left: 50px;
  z-index: 1000; }
  /* line 59, application.css.sass */
  body .authors p {
    margin: 0;
    font-size: 11px;
    line-height: 1.2;
    color: #555555; }
/* line 66, application.css.sass */
body .intro-example {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }
  /* line 76, application.css.sass */
  body .intro-example pre {
    margin: 30px;
    margin-left: 426px;
    padding: 31px 25px 25px 50px;
    font-size: 14px;
    line-height: 1.7; }
/* line 84, application.css.sass */
body #background {
  left: 425px; }
/* line 87, application.css.sass */
body .code, body #background {
  background: #0c1021; }
  /* line 89, application.css.sass */
  body .code pre, body #background pre {
    font-size: 14px;
    line-height: 1.3; }
/* line 93, application.css.sass */
body th.docs, body td.docs {
  max-width: 350px;
  min-width: 350px; }
/* line 98, application.css.sass */
body tr.syntax td.docs, body tr.install td.docs {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  padding-bottom: 20px; }
/* line 102, application.css.sass */
body tr.syntax td.code, body tr.install td.code {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2); }
  /* line 106, application.css.sass */
  body tr.syntax td.code .instructions, body tr.install td.code .instructions {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px; }
    /* line 111, application.css.sass */
    body tr.syntax td.code .instructions a, body tr.install td.code .instructions a {
      color: lightblue; }
    /* line 113, application.css.sass */
    body tr.syntax td.code .instructions p, body tr.install td.code .instructions p {
      color: white; }
    /* line 115, application.css.sass */
    body tr.syntax td.code .instructions code, body tr.install td.code .instructions code {
      color: black;
      background: lightblue; }
  /* line 120, application.css.sass */
  body tr.syntax td.code .code-block, body tr.install td.code .code-block {
    margin-bottom: 10px;
    position: relative; }
    /* line 123, application.css.sass */
    body tr.syntax td.code .code-block label, body tr.install td.code .code-block label {
      color: white;
      text-transform: uppercase;
      font-size: 11px;
      font-family: Helvetica;
      font-weight: bold;
      padding: 3px 5px;
      border-radius: 3px;
      display: inline-block;
      position: absolute;
      right: 10px;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 13px;
      line-height: 13px; }
    /* line 140, application.css.sass */
    body tr.syntax td.code .code-block pre, body tr.install td.code .code-block pre {
      padding: 20px;
      margin: 5px 0;
      max-width: 650px;
      overflow: auto; }
    /* line 146, application.css.sass */
    body tr.syntax td.code .code-block.emblem, body tr.install td.code .code-block.emblem {
      background: rgba(0, 100, 0, 0.15); }
      /* line 148, application.css.sass */
      body tr.syntax td.code .code-block.emblem label, body tr.install td.code .code-block.emblem label {
        background: darkgreen; }
    /* line 153, application.css.sass */
    body tr.syntax td.code .code-block.html, body tr.install td.code .code-block.html {
      background: rgba(153, 60, 16, 0.15); }
      /* line 155, application.css.sass */
      body tr.syntax td.code .code-block.html label, body tr.install td.code .code-block.html label {
        background: #993c10; }
      /* line 157, application.css.sass */
      body tr.syntax td.code .code-block.html pre, body tr.install td.code .code-block.html pre {
        background: none; }

/* line 160, application.css.sass */
a.ember-link {
  width: 45px;
  height: 20px;
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-left: 15px;
  background: url("/images/ember-icon.png");
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top; }
